---
---

@import "variables";

body {
  font-family: $font-karla;
  font-size: 14px;
  color: $gray-one;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4 {
  font-family: $font-nunito;
}

h1 {
  font-size: 70px;
}

h3 {
  font-size: 40px;
  color: $blue;
}

h5 {
  font-family: $font-nunito;
  font-size: 18px;
  color: $gray-one;
}

header {
  background-color: $blue;
}

.hero {
  background-color: $blue;
  padding: 11vw 0;
}

.text-white {
  color: white;
}

.small {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: bold;
}


// Search

section#search {
    margin-bottom: 30px;
}

#search label {
  position: absolute;
  left: 35px;
  top: 19px;
}

#search #search-input, #search .hint {
  padding: 16px 43px;
}

// counter

.number {
  font-size: 75px;
  font-family: $font-nunito;
  color: white;
  margin-right: 20px;
}

#counter .col-4:first-child {
  background: $lightblue-one;
}

#counter .col-4:nth-child(2) {
  background: $lightblue-two;
}

#counter .col-4:nth-child(3) {
  background: $lightblue-three;
}

// histories

.box {
  padding: 5vw;
}
