---
---

@import "variables";

body {
  font-family: $font-karla;
  font-size: 14px;
  color: $gray-one;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.home {
  background-image: url(../img/hero01.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #009abd;
}

h1,h2,h3,h4 {
  font-family: $font-nunito;
}

h1 {
    font-size: 48px;
}

.hero h1 {
  font-size: 70px;
}

h3 {
  font-size: 36px;
  color: $blue;
}

h4 {
  color: $blue;
  margin: 2rem 0 1rem;
}

h5 {
  font-family: $font-nunito;
  font-size: 18px;
  color: $gray-one;
}

p {
    margin: 1em 0;
}

a {
  color: $lightblue-two;
  &:hover {
    text-decoration: none;
    color: $lightblue-one;
  }
}

// buttons

.btn {
  font-family: $font-nunito;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: bold;
  padding: .6rem 1.5rem;
  border-radius: 2rem;
}

.btn-primary {
    background-color: $lightblue-two;
    border-color: $lightblue-two;
    &:hover {
      background-color: $lightblue-one;
      border-color: $lightblue-one;
    }
}

header {
  background-color: #2f3068c2;
}

// hero

.hero {
  background-color: #2f3068c2;
  padding: 11vw 0;
  position: relative;
}

.btn-search {
    border-radius: 0rem 2rem 2rem 0rem;
    padding: 20px 15px;
    border: 1px solid $lightblue-two;
}

.text-white {
  color: white;
}

.small {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: bold;
}

.carousel {
    position: absolute;
    bottom: 0rem;
}

// Search

section#search {
    margin-bottom: 30px;
}

#search label {
  position: absolute;
  left: 20px;
  top: 19px;
}

#search #search-input, #search .hint {
  padding: 16px 43px;
  border-radius: 0.25rem 0rem 0rem 0.25rem;
}

// counter

.number {
  font-size: 75px;
  font-family: $font-nunito;
  color: white;
  margin-right: 20px;
}

#counter .col-4:first-child {
  background: $lightblue-one;
}

#counter .col-4:nth-child(2) {
  background: $lightblue-two;
}

#counter .col-4:nth-child(3) {
  background: $lightblue-three;
}

#counter h5 {
    margin-top: -20px;
    padding-bottom: 15px;
}

#counter h5 svg {
    margin-bottom: -5px;
}

// histories

.box {
  padding: 5vw;
}

.box h4 {
  margin: 0 0 1rem;
}

.box .meta {
  margin-bottom: 1rem;
}

.histories .col-6:last-child {
  background: $gray-four;
}

.meta svg {
    margin: 0px 3px -3px 0px;
}

// post

blockquote {
  text-align: center;
  font-size: 24px;
  font-family: $font-nunito;
  color: $blue;
  &::before {
    content: url(../img/blockquote.svg);
  }
}

.link-repo {
    margin: 12px 0px 15px 0px;
}

.link-repo svg {
    margin: 0px 5px -5px 0px;
}

.post {
    padding: 3rem 0;
}

.post .link-repo {
    margin: 0;
}

.post .meta {
    margin: 1rem -15px;
}

// quote

#quote {
    padding: 4rem;
}

// about

#about {
  padding: 3rem 0;
}

// faq

#faq {
  padding: 3rem 0;
}

// footer

footer {
  background: $gray-four;
  padding: 3rem 0;
}

footer img {
  max-width: 100%;
}

footer svg {
    margin: 0 0px -5px 0;
    width: 30px;
}
