<div class="hero">
  <div class="container">

    <div class="row justify-content-between">
      <div class="col-6 text-white">
        <h3>Ante la corrupción</h3>
        <h1>Perú recuerda y aprende</h1>
      </div>
      <div class="col-5">
        <!-- Search -->
        <section id="search">
          <form method="GET" class="formulario_que_manda_las_cosas">
          <label for="search-input"><i class="fa fa-search" aria-hidden="true"></i><span class="sr-only">Busca casos, personas...</span></label>

          <input id="search-input" class="form-control input-lg buscador_q" placeholder="Busca casos, personas..." autocomplete="off" spellcheck="false" autocorrect="off" tabindex="1">
          <input type="submit" value="Send Request">
          </form>
        </section>
        <p class="text-white text-right">Encuentra todos los casos de corrupción de los últimos 30 años de nuestro país.  Busca por nombres de casos, personajes, tipo de documentos, fuentes, fechas, palabras clave, etc.</p>
      </div>
    </div>

  </div>
</div><!-- /.container -->
