// Paleta abre
$blue: #2F3068;
$lightblue-one: #3FB0E4;
$lightblue-two: #3FC3DF;
$lightblue-three: #5FC7D6;
$gray-one: #63647A;
$gray-two: #9495A9;
$gray-three: #E2E2E8;
$gray-four: #F4F4F4;

// Letras
$font-nunito: 'Nunito', 'Helvetica', 'Arial', sans-serif;
$font-karla: 'Karla', 'Helvetica', 'Arial', sans-serif;
